<html>
    <head>
        <script src="javascript/global.js"></script>
        <link type="text/css" rel="stylesheet" media="all" href="stylesheets/global.css" />
        <script>

var isChangingPassword = false;

function ChangePasswordRequest(oldPassword, newPassword) {
    if (isChangingPassword) {
        return;
    }
    isChangingPassword = true;
    document.getElementById("message").innerHTML = "Changing password...";
    // Send as POST data to avoid sneeky peeking at log files.
    AjaxRequest.call(this, "changePasswordAction", {}, {
        oldPassword: oldPassword,
        newPassword: newPassword
    });
}
setParentClass(ChangePasswordRequest, AjaxRequest);

ChangePasswordRequest.prototype.respond = function(data) {
    isChangingPassword = false;
    document.getElementById("message").innerHTML = "";
    if (data.success) {
        alert("Your password was changed successfully.");
        window.location = "menu";
    } else {
        alert(data.message);
    }
    AjaxRequest.prototype.respond.call(this, data);
}

function processFields() {
    var tempOldPassword = document.getElementById("oldPassword").value;
    var tempNewPassword = document.getElementById("newPassword").value;
    var tempConfirmPassword = document.getElementById("confirmPassword").value;
    if (tempOldPassword.length < 1) {
        alert("Please enter your old password.");
        return;
    }
    if (tempNewPassword.length < 1) {
        alert("Please enter your new password.");
        return;
    }
    if (tempNewPassword != tempConfirmPassword) {
        alert("The new passwords you entered do not match.");
        return;
    }
    new ChangePasswordRequest(tempOldPassword, tempNewPassword);
    return;
}

        </script>
    </head>
    <body>
        <div id="content">
            <h2>BREADQUEST</h2>
            <p>
                <a href="menu">Return to Menu</a>
            </p>
            <h2>CHANGE PASSWORD</h2>
            <form onsubmit="processFields(); return false;">
                <table>
                    <tr>
                        <td>Old Password:</td>
                        <td><input id="oldPassword" type="password" /></td>
                    </tr>
                    <tr>
                        <td>New Password:</td>
                        <td><input id="newPassword" type="password" /></td>
                    </tr>
                    <tr>
                        <td>Confirm Password:</td>
                        <td><input id="confirmPassword" type="password" /></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><input type="submit" /></td>
                    </tr>
                </table>
            </form>
            <p id="message">
            
            </p>
        </div>
    </body>
</html>
