<html>
    <head>
        <script src="javascript/global.js"></script>
        <script src="javascript/pos.js"></script>
        <script src="javascript/sprite.js"></script>
        <link type="text/css" rel="stylesheet" media="all" href="stylesheets/global.css" />
        <script>

var avatarAmount = 8;
var avatarCanvasList = [];
var avatarCanvasSize = 96;
var selectedAvatar = null;
var isCreatingAccount = false;

function selectAvatar(which) {
    var index = 0;
    while (index < avatarCanvasList.length) {
        var tempCanvas = avatarCanvasList[index];
        if (index == which) {
            tempCanvas.style.border = "3px #000000 solid";
        } else {
            tempCanvas.style.border = "3px #FFFFFF solid";
        }
        index += 1;
    }
    selectedAvatar = which;
}

function CreateAccountRequest(username, password, email, avatar) {
    if (isCreatingAccount) {
        return;
    }
    isCreatingAccount = true;
    document.getElementById("message").innerHTML = "Creating account...";
    // Send as POST data to avoid sneeky peeking at log files.
    AjaxRequest.call(this, "createAccountAction", {}, {
        username: username,
        password: password,
        email: email,
        avatar: avatar
    });
}
setParentClass(CreateAccountRequest, AjaxRequest);

CreateAccountRequest.prototype.respond = function(data) {
    isCreatingAccount = false;
    document.getElementById("message").innerHTML = "";
    if (data.success) {
        alert("Your account was created successfully.");
        window.location = "login";
    } else {
        alert(data.message);
    }
    AjaxRequest.prototype.respond.call(this, data);
}

function processFields() {
    var tempUsername = document.getElementById("username").value;
    var tempPassword = document.getElementById("password").value;
    var tempConfirmPassword = document.getElementById("confirmPassword").value;
    var tempEmail = document.getElementById("email").value;
    if (tempUsername.length < 1) {
        alert("Please enter a username.");
        return;
    }
    if (tempUsername.length > 30) {
        alert("Your username must be at most 30 characters long.");
        return;
    }
    if (tempPassword.length < 1) {
        alert("Please enter your password.");
        return;
    }
    if (tempPassword != tempConfirmPassword) {
        alert("The passwords you entered do not match.");
        return;
    }
    if (tempEmail.length < 1) {
        alert("Please enter an email address.");
        return;
    }
    if (tempEmail.indexOf("@") < 0 || tempEmail.indexOf(".") < 0) {
        alert("Please enter a valid email address.");
        return;
    }
    if (selectedAvatar === null) {
        alert("Please select an avatar.");
        return;
    }
    new CreateAccountRequest(tempUsername, tempPassword, tempEmail, selectedAvatar);
    return;
}

        </script>
    </head>
    <body>
        <div id="content">
            <h2>BREADQUEST</h2>
            <p>
                <a href="login">Return to Log In</a>
            </p>
            <h2>CREATE ACCOUNT</h2>
            <form onsubmit="processFields(); return false;">
                <table>
                    <tr>
                        <td>Username:</td>
                        <td><input id="username" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" /></td>
                    </tr>
                    <tr>
                        <td>Password:</td>
                        <td><input id="password" type="password" /></td>
                    </tr>
                    <tr>
                        <td>Confirm Password:</td>
                        <td><input id="confirmPassword" type="password" /></td>
                    </tr>
                    <tr>
                        <td>Email Address:</td>
                        <td><input id="email" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" /></td>
                    </tr>
                    <tr>
                        <td>Avatar:<br/>(Click One)</td>
                        <td id="avatarList"></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><input type="submit" /></td>
                    </tr>
                </table>
            </form>
            <p id="message">
            
            </p>
        </div>
        <script>

var tempContainer = document.getElementById("avatarList");
var index = 0;
while (index < avatarAmount) {
    var tempCanvas = document.createElement("canvas");
    tempCanvas.onclick = (function() {
        var tempIndex = index;
        return function() {
            selectAvatar(tempIndex);
        }
    })();
    tempCanvas.width = avatarCanvasSize;
    tempCanvas.height = avatarCanvasSize;
    tempCanvas.style.width = avatarCanvasSize / 2;
    tempCanvas.style.height = avatarCanvasSize / 2;
    tempCanvas.style.border = "3px #FFFFFF solid";
    tempCanvas.style.margin = "8px";
    tempContainer.appendChild(tempCanvas);
    avatarCanvasList.push(tempCanvas);
    index += 1;
}

initializeSpriteSheet(function () {
    var index = 0;
    while (index < avatarCanvasList.length) {
        var tempCanvas = avatarCanvasList[index];
        var tempContext = tempCanvas.getContext("2d");
        drawSpriteOnContext(tempContext, new Pos(16, 16), 64, index);
        index += 1;
    }
});

        </script>
    </body>
</html>
