<html>
    <head>
        <script src="javascript/global.js"></script>
        <script src="javascript/pos.js"></script>
        <script src="javascript/sprite.js"></script>
        <link type="text/css" rel="stylesheet" media="all" href="stylesheets/global.css" />
        {{#isAdmin}}
        <script>

function stopServer() {
    var tempResult = confirm("Are you sure you want to stop the server?");
    if (tempResult) {
        window.location = "stopServer";
    }
}

        </script>
        {{/isAdmin}}
    </head>
    <body>
        <div id="content">
            <h2>BREADQUEST</h2>
            <h2>MAIN MENU</h2>
            <p>
                Hello {{username}}!
            </p>
            <p>
                Bread Count: {{breadCount}}
            </p>
            <p>
                <canvas id="avatarCanvas" width="96" height="96" style="width: 48px; height: 48px;"></canvas>
            </p>
            <p>
                <a href="changeAvatar">Change Avatar (Cost: {{avatarChangeCost}} Bread)</a>
            </p>
            <p>
                <button onclick="window.open('game', '_blank');">Enter World</button>
            </p>
            <p>
                <a href="leaderBoard">Leader Board</a>
            </p>
            <p>
                <a href="changePassword">Change Password</a>
            </p>
            <p>
                <button onclick="window.location='logoutAction';">Log Out</button>
            </p>
            {{#isAdmin}}
            <p>
                <button style="background: #FF4444;" onclick="stopServer();">Stop Server</button>
            </p>
            {{/isAdmin}}
        </div>
        <script>

initializeSpriteSheet(function () {
    var tempCanvas = document.getElementById("avatarCanvas");
    var tempContext = tempCanvas.getContext("2d");
    drawSpriteOnContext(tempContext, new Pos(16, 16), 64, {{avatar}});
});

        </script>
    </body>
</html>
