<html>
    <head>
        <script src="javascript/global.js"></script>
        <link type="text/css" rel="stylesheet" media="all" href="stylesheets/global.css" />
    </head>
    <body>
        <div id="content">
            <h2>BREADQUEST</h2>
            <p>
                A game by Jack Eisenmann
            </p>
            <h2>MESSAGE</h2>
            <p>
                {{message}}
            </p>
            <p>
                <a href="{{url}}">{{urlLabel}}</a>
            </p>
        </div>
    </body>
</html>
