
body {
    font-family: Arial;
    font-size: 16px;
    background: #777777;
    margin: 0px;
}

#content {
    width: 860px;
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    background: #FFFFFF;
}

a {
    color: #000000;
}

li {
    line-height: 25px;
}

.listDiv {
    overflow-y: scroll;
    border: 1px #CCCCCC solid;
    height: 150px;
    padding: 10px;
}

.listOption {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: pointer;
}

button, input[type="submit"] {
    background: #888888;
    color: #FFFFFF;
    font-family: Arial;
    font-size: 16px;
    font-weight: bold;
    border-radius: 15px;
    cursor: pointer;
    border: none;
    padding: 10px;
    margin-top: 3px;
    margin-bottom: 3px;
}

button:active, input[type="submit"]:active {
    background: #555555;
}

input:not([type]), input:[type="text"] {
    border: 1px #888888 solid;
    font-family: Arial;
    font-size: 16px;
}

.module p, .module h2 {
    margin-top: 8px;
    margin-bottom: 8px;
}

.module {
    border-top: 2px #CCCCCC solid;
    margin-top: 8px;
    margin-bottom: 8px;
}

.closeButton {
    background: #CC6666;
    height: 36px;
    width: 36px;
    border-radius: 18px;
    margin-top: 4px;
    margin-bottom: 4px;
}

.closeButton:active {
    background: #663333;
}

.moduleButton, .moduleButtonOpen, .moduleButtonNotify {
    margin-left: 8px;
    margin-top: 8px;
    margin-right: 0px;
    margin-bottom: 0px;
}

.moduleButtonOpen {
    background: #66CC66;
}

.moduleButtonOpen:active {
    background: #336633;
}

.moduleButtonNotify {
    background: #884444;
}

.moduleButtonNotify:active {
    background: #442222;
}

.statusBarContainer {
    display: inline-block;
    width: 300px;
    border: 2px black solid;
}

.statusBar {
    width: 0px;
    height: 10px;
}
